*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font: inherit;
	border-radius: 0;
	-webkit-tap-highlight-color: transparent;
}

html { box-sizing: border-box; scroll-behavior: smooth; }

:root { --bg: white; --fg: black; }

body {
	background-color: var(--bg);
	color: var(--fg);
	max-width: 60ch;
	margin-inline: auto;
	min-block-size: 100vh;
}

::selection {
	background-color: var(--fg);
	color: var(--bg);
}

img {
	height: 100%;
	width: 100%;
}